# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode11.2.1
language: objective-c
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- xcodebuild -SocketStreamSwift.xcodeproj -scheme SocketStreamSwift -destination destinationspecifier -sdk iphonesimulator test | xcpretty -c
- pod lib lint
